*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
data

.project
.strong-pm
.npm
coverage
node_modules
linux_node_modules
npm-debug.log
secrets.yml
build
database.sqlite
ncp-debug.log

mongoData/*

*.pdf
# Intellij
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea


## File-based project format:
*.iws

dist/
charts/*

